@media (max-width: 1296px) {
    .container {
        max-width: 960px;
    }
    .menu {
        margin-left: 135px;
        max-width: 568px;
    }
    .promo {
        &__bar {
            width: unset;
            max-width: 714px;
            &-fill {
                width: unset;
                max-width: 440px;
            }
        }
    }
    .occupation {
        &__title {
            font-size: 30px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .menu {
        margin-left: 0px;
        max-width: 536px;
    }
    .header {
        &__logo {
            display: none;
        }
        &__button {
            right: 10px;
        }
    }
    .occupation {
        .container {
            flex-direction: column;
        }
        &__square {
            margin: 0 auto;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__title {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__button {
            display: none;
        }
        &__logo {
            display: unset;
            left: 10px;
        }
    }
    .menu {
        margin: 0;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.6s all;
        &_active {
            left: 0;
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
        }
        &__link {
            font-size: 20px;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        z-index: 6;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 8px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg)
                }
                &:nth-child(2) {
                    display: none
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg)
                }
            }
        }
    }
    .promo {
        &__block {
            .container {
                flex-wrap: wrap;
            }
        }
        &__earned {
            margin-top: 20px;
        }
    }
    .occupation {
        padding-top: 100px;
        &__square {
            max-width: unset;
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__link {
            font-size: 15px;
        }
    }
    .promo {
        .title {
            font-size: 31px;
        }
        &__wrapper {
            margin-top: 40px;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__item {
            margin-top: 10px;
            margin-right: 10px;
        }
        &__block {
            .container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        &__students {
            margin-top: 20px;
        }
        &__earned {
            margin-top: 20px;
        }
    }
    .occupation {
        &__img {
            max-width: unset;
            width: 100%;
        }
        &__square {
            border: 20px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, #C89AFC, hsl(248, 94%, 70%));
        }
        &__descr {
            margin-top: 10px;
        }
    }
}