.promo {
    padding-top: 270px;
    min-height: 960px;
    background: url('../img/bg/promo.jpg') center (center / cover) no-repeat;
    &__wrapper {
        margin-top: 50px;
        display: flex;
        max-width: 509px;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        width: 102px;
        height: 112px;
        background: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__subtitle {
        opacity: 0.4;
    }
}