.promo {
    position: relative;
    padding-top: 270px;
    min-height: 960px;
    background: url('../img/bg/promo.jpg') center (center / cover) no-repeat;
    &__wrapper {
        margin-top: 50px;
        display: flex;
        max-width: 509px;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        width: 102px;
        height: 112px;
        background: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__subtitle {
        opacity: 0.4;
    }
    &__block {
        padding: 36px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 130px;
        background: #121212;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__students {
        &-title {
            width: 251px;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba(255, 255, 255, 0.4);
            span {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    &__earned {
        &-subtitle {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                color: rgba(255, 255, 255, 0.4);
            }
        }
        &-title {
            width: 279px;
            color: rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    &__bar {
        margin-top: 8px;
        width: 714px;
        height: 6px;
        background: #FFFFFF;
        &-fill {
            width: 440px;
            height: 6px;
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        }
    }
}